@page
@model SafetyComeback.App.FrontEnd.Pages.FSintoma.DeleteSintomaModel
@{
    ViewData["Title"] = "Eliminar Sintoma";
}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h3>Eliminar Sintoma</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10">
            <form method="post">
                <input type="hidden" asp-for=@Model.Sintoma.Id />
                <div class="form-group">
                    <label class="control-label" asp-for=@Model.Sintoma.Id></label>
                    <input class="form-control" asp-for=@Model.Sintoma.Id disabled />
                    <label class="control-label" asp-for=@Model.Sintoma.Fecha></label>
                    <input class="form-control" asp-for=@Model.Sintoma.Fecha disabled />
                    <label class="control-label" asp-for=@Model.Sintoma.PeriodoAislamiento></label>
                    <input class="form-control" asp-for=@Model.Sintoma.PeriodoAislamiento disabled />
                    <input class="btn btn-primary" value="Eliminar Sintoma" type="submit" />
                </div>
            </form>
        </div>
    </div>

</div>