@page
@model SafetyComeback.App.FrontEnd.Pages.FFacultad.DeleteFacultadModel
@{
    ViewData["Title"] = "Eliminar Facultad";
}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h3>Eliminar Facultad</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10">
            <form method="post" >
                <input type="hidden" asp-for=@Model.Facultad.Id />
                <div class="form-group">
                    <label class="control-label" asp-for=@Model.Facultad.Nombre ></label>
                    <input class="form-control" asp-for=@Model.Facultad.Nombre disabled />
                </div>
                <div class="form-group">
                    <input class="btn btn-primary" value="Eliminar Facultad" type="submit" />
                </div>
            </form>
        </div>
    </div>

</div>