@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos App SafetyComeback</h1>
    <p>Aplicación para el regreso seguro a la <a href="https://www.ucaldas.edu.co/portal/">Universidad de Caldas</a>.</p>
</div>
